header {
    background-color: #303435;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.55);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 30px;
    position: fixed;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);

    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.procurar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: rotate(45deg);
    cursor: pointer;
}

.search-icon::before {
    content: '';
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 2px solid #f2cb05;
}

.search-icon::after {
    content: '';
    width: 20%;
    height: 2px;
    background-color: #f2cb05;
}

.busca {

    padding-left: 3.5vw;

    width: 40vw;
    height: 76px;

    border: none;
    outline: none;

    background: #FFFFFF;
    font-size: 1.2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;

}

.logo-pesquisa-container {
    display: flex;
    gap: 2vw;
}

.links-container {
    height: 36px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.1rem;

}

.links-container a {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 6px;
    transition: all .3s;
    font-size: 1.7rem;

}


.support {
    padding-top: 1vh;
    height: 7vh;
}

@media (max-width: 1700px) {
    .procurar {
        padding-left: 0px;
    }
}

@media (max-width: 1530px) {
    header {
        height: 150px;
        padding: 0 6px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }

    nav{
        padding-left: 8vw;
    }

    .links-container {
        background-color: #000;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 300;
        gap: 65px;
        transform: translate(100%);
        transition: all 1s;
    }

    .menu-burguer-container.show~.links-container {
        transform: translate(0);
    }


    .titles {
        display: none;
    }

    .busca {

        width: 60vw;
    }
}

@media (max-width: 750px) {


    
    header {
        height: 150px;
        padding: 0 6px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .titles {
        display: none;
    }

    .busca {

        width: 50vw;
    }
}

@media (max-width: 600px) {
    header {
        height: 150px;
        padding: 0 6px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    nav{
        padding-left: 10vw;
    }

    .titles {
        display: none;
    }

    .busca {
        display: none;
    }

    .search-icon {
        display: none;
    }
}